body {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: hidden;
}

/** HEADER */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  border: 3px solid #000;
}

ul {
  list-style: none;
  display: flex;
  align-self: center;
}

li {
  margin: 0 0.5rem;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #247bfd;
}

a:focus {
  color: #247bfd;
}

h1 {
  text-align: center;
  font-weight: 700;
}

.date {
  margin: 1rem;
  font-weight: 700;
  float: right;
  align-self: flex-end;
}

/** BOOKS LIST */

/* Books Container */
.books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid #000;
  margin: 1rem 0;
}

/* Book Row */
.book {
  display: flex;
  background: #d4d4d4;
  width: 100%;
  justify-content: space-between;
}

.data-container {
  display: flex;
  flex-direction: row;
}

.title,
.author,
span {
  margin: 0.5rem;
}

.remove-btn {
  height: 50%;
  align-self: center;
  margin: 0 1rem 0 0.5rem;
}

/** CREATE BOOK */
.create-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.add-book-title {
  text-align: center;
  font-weight: 700;
}

.add-books {
  margin-left: 7rem;
}

input {
  display: block;
  margin: 0.5rem 0;
}

/** FOOTER */
footer {
  display: flex;
  justify-content: center;
  font-weight: 700;
  border: 3px solid #000;
  justify-self: flex-end;
  width: 99%;
}
